@{
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

@model Unity_MVC6.Models.AVPSDiscussionModel

<section id="AVPSDiscussionSection">
    <h3 class="text-center">Adolescent Vaccination Practices Survey</h3>
    @{ Html.RenderPartial("../Shared/Partial/_Alerts"); }
    @using (Html.BeginForm("PostAVPSDiscussion", "Survey", FormMethod.Post, new { @role = "form", @autocomplete = "off", @class = "BlueButton" }))
    {
        @Html.AntiForgeryToken()

        <div class="panel panel-default">
            <div class="panel-heading BoldFont">
                Adolescent Vaccination Practices
            </div>
            <div class="panel-body">
                <div>
                    Given the goal for each vaccine, when do you intend to <u>first discuss/recommend</u> each vaccine?
                    <br />
                    <br />
                    Red indicates your selected "Age Goal" from the previous question.
                    <br />
                    "Age goal" is the age by which you <u>want</u> your patient to be immunized.
                </div>
                <br />
                <div class="table-responsive">
                    <table class="table SurveyTableBottomBorder">
                        <tr>
                            <td class="text-center SurveyTableRightBorder BoldFont">
                                Male Adolescent Patients
                            </td>
                            <td class="text-center BoldFont">
                                First <u>Discussion</u> of Vaccine
                            </td>
                        </tr>
                        <tr>
                            <td class="SurveyTableRightBorder"></td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            10
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            11
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            12
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            13
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            14
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            15
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            16
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            17
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            18
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            19
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            20
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            21
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                Tdap
                                @Html.ValidationMessageFor(m => m.MDisc_Tdap)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.MGoal_Tdap == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.MDisc_Tdap, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.MDisc_Tdap, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                HPV
                                @Html.ValidationMessageFor(m => m.MDisc_HPV)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.MGoal_HPV == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.MDisc_HPV, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.MDisc_HPV, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                MenACWY
                                @Html.ValidationMessageFor(m => m.MDisc_ACWY)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.MGoal_ACWY == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.MDisc_ACWY, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.MDisc_ACWY, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                MenACWY Booster
                                @Html.ValidationMessageFor(m => m.MDisc_ACWYBoost)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.MGoal_ACWYBoost == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.MDisc_ACWYBoost, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.MDisc_ACWYBoost, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        @if (Model.HasMenB)
                        {
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                Meningococcal B
                                @Html.ValidationMessageFor(m => m.MDisc_MenB)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.MGoal_MenB == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.MDisc_MenB, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.MDisc_MenB, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        }
                    </table>
                    <table class="table SurveyTableBottomBorder">
                        <tr>
                            <td class="text-center SurveyTableRightBorder BoldFont">
                                Male Adolescent Patients
                            </td>
                            <td class="text-center BoldFont">
                                First <u>Recommendation</u> of Vaccine
                            </td>
                        </tr>
                        <tr>
                            <td class="SurveyTableRightBorder"></td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            10
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            11
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            12
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            13
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            14
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            15
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            16
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            17
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            18
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            19
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            20
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            21
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                Tdap
                                @Html.ValidationMessageFor(m => m.MRec_Tdap)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.MGoal_Tdap == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.MRec_Tdap, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.MRec_Tdap, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                HPV
                                @Html.ValidationMessageFor(m => m.MRec_HPV)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.MGoal_HPV == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.MRec_HPV, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.MRec_HPV, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                MenACWY
                                @Html.ValidationMessageFor(m => m.MRec_ACWY)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.MGoal_ACWY == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.MRec_ACWY, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.MRec_ACWY, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                MenACWY Booster
                                @Html.ValidationMessageFor(m => m.MRec_ACWYBoost)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.MGoal_ACWYBoost == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.MRec_ACWYBoost, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.MRec_ACWYBoost, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        @if (Model.HasMenB)
                        {
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                Meningococcal B
                                @Html.ValidationMessageFor(m => m.MRec_MenB)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.MGoal_MenB == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.MRec_MenB, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.MRec_MenB, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        }
                    </table>
                    <table class="table SurveyTableBottomBorder">
                        <tr>
                            <td class="text-center SurveyTableRightBorder BoldFont">
                                Female Adolescent Patients
                            </td>
                            <td class="text-center BoldFont">
                                First <u>Discussion</u> of Vaccine
                            </td>
                        </tr>
                        <tr>
                            <td class="SurveyTableRightBorder"></td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            10
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            11
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            12
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            13
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            14
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            15
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            16
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            17
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            18
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            19
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            20
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            21
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                Tdap
                                @Html.ValidationMessageFor(m => m.FDisc_Tdap)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.FGoal_Tdap == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.FDisc_Tdap, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.FDisc_Tdap, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                HPV
                                @Html.ValidationMessageFor(m => m.FDisc_HPV)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.FGoal_HPV == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.FDisc_HPV, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.FDisc_HPV, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                MenACWY
                                @Html.ValidationMessageFor(m => m.FDisc_ACWY)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.FGoal_ACWY == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.FDisc_ACWY, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.FDisc_ACWY, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                MenACWY Booster
                                @Html.ValidationMessageFor(m => m.FDisc_ACWYBoost)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.FGoal_ACWYBoost == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.FDisc_ACWYBoost, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.FDisc_ACWYBoost, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        @if (Model.HasMenB)
                        {
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                Meningococcal B
                                @Html.ValidationMessageFor(m => m.FDisc_MenB)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.FGoal_MenB == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.FDisc_MenB, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.FDisc_MenB, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        }
                    </table>
                    <table class="table SurveyTableBottomBorder">
                        <tr>
                            <td class="text-center SurveyTableRightBorder BoldFont">
                                Female Adolescent Patients
                            </td>
                            <td class="text-center BoldFont">
                                First <u>Recommendation</u> of Vaccine
                            </td>
                        </tr>
                        <tr>
                            <td class="SurveyTableRightBorder"></td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            10
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            11
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            12
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            13
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            14
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            15
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            16
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            17
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            18
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            19
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            20
                                        </td>
                                        <td class="text-center SurveyTableNoMarginPaddingBorder">
                                            21
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                Tdap
                                @Html.ValidationMessageFor(m => m.FRec_Tdap)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.FGoal_Tdap == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.FRec_Tdap, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.FRec_Tdap, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                HPV
                                @Html.ValidationMessageFor(m => m.FRec_HPV)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.FGoal_HPV == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.FRec_HPV, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.FRec_HPV, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                MenACWY
                                @Html.ValidationMessageFor(m => m.FRec_ACWY)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.FGoal_ACWY == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.FRec_ACWY, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.FRec_ACWY, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                MenACWY Booster
                                @Html.ValidationMessageFor(m => m.FRec_ACWYBoost)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.FGoal_ACWYBoost == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.FRec_ACWYBoost, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.FRec_ACWYBoost, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        @if (Model.HasMenB)
                        {
                        <tr>
                            <td class="text-center SurveyTableRightBorder">
                                Meningococcal B
                                @Html.ValidationMessageFor(m => m.FRec_MenB)
                            </td>
                            <td>
                                <table class="table SurveyTableNoMarginPaddingBorder">
                                    <tr>
                                        @for (int i = 10; i <= 21; i++)
                                        {
                                            if (Model.FGoal_MenB == i)
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder SuggestedRadio">
                                                    @Html.RadioButtonFor(m => m.FRec_MenB, i)
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="text-center SurveyTableNoMarginPaddingBorder">
                                                    @Html.RadioButtonFor(m => m.FRec_MenB, i)
                                                </td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        }
                    </table>

                </div>
            </div>
        </div>
            <input type="submit" value="Next" class="btn-md btn-default" />

            @Html.HiddenFor(m => m.ProviderId)
        @Html.HiddenFor(m => m.HasMenB)
    }
</section>

<script src="~/Scripts/Page Scripts/AVPSDiscussion_Scripts.js"></script>
