@{
    Layout = "~/Views/Shared/_SurveyLayout.cshtml";
}

@model Unity_MVC6.Models.DualProviderModel

<section id="DualProviderSection">
    <h3 class="text-center">Provider/Parent Parallel Survey (@Model.SurveyAge Year Old Visit)</h3>
    @using (Html.BeginForm("PostDualProvider", "Survey", FormMethod.Post, new { @role = "form", @autocomplete = "off", @class = "BlueButton" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading BoldFont">
                Provider
            </div>
            <div class="panel-body">
                @{ Html.RenderPartial("../Shared/Partial/_Alerts"); }
                <div class="form-group">
                    <b>What vaccines did you recommend at this visit?</b> <i>(Check all that apply)</i>
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.TdapRecommended)&nbsp;&nbsp;Tdap
                    <br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.MenACWYRecommended)&nbsp;&nbsp;MenACWY
                    <br />
                    @if (Model.SurveyAgeId == 2 && Model.HasMenB)
                    {
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.MenBRecommended)&nbsp;&nbsp;MenB</span>
                        <br />
                    }
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.HPVRecommended)&nbsp;&nbsp;HPV
                </div>
                <div class="NoSelection">
                    <div class="form-group HPVDose">
                        <b>What HPV Dose? </b>
                        <div>
                            @Html.ValidationMessageFor(m => m.HPVDose)
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.HPVDose, "1")<span> 1&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.HPVDose, "2")<span> 2&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.HPVDose, "3")<span> 3</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <b>Before you made your recommendation, did you believe that the parents would consent to all the vaccines that you were recommending today? </b>
                        <br />
                        @Html.ValidationMessageFor(m => m.BelieveConsent)
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.BelieveConsent, "Y")<span> Yes</span>
                            &nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.BelieveConsent, "N")<span> No</span>
                            &nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.BelieveConsent, "D")<span> Don't Know</span>
                        </div>
                    </div>
                    <div class="NoRecommendation">
                        <div class="form-group">
                            <b>In what order did you recommend the vaccines? </b>
                            <br />
                            @Html.ValidationMessage("ShotOrder")
                            <div class="TdapOrder">
                                @Html.ValidationMessageFor(m => m.TdapOrder)
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.TdapOrder, "1")<span> 1&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.TdapOrder, "2")<span> 2&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.TdapOrder, "3", new { @class = "ThirdOrder" })<span class="ThirdOrder"> 3&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.TdapOrder, "4", new { @class = "ForthOrder" })<span class="ForthOrder"> 4&nbsp;&nbsp;&nbsp;</span>Tdap
                            </div>
                            <div class="MenACWYOrder">
                                @Html.ValidationMessageFor(m => m.MenACWYOrder)
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.MenACWYOrder, "1")<span> 1&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenACWYOrder, "2")<span> 2&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenACWYOrder, "3", new { @class = "ThirdOrder" })<span class="ThirdOrder"> 3&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenACWYOrder, "4", new { @class = "ForthOrder" })<span class="ForthOrder"> 4&nbsp;&nbsp;&nbsp;</span>MenACWY
                            </div>
                            @if (Model.SurveyAgeId == 2)
                            {
                                <div class="MenBOrder">
                                    @Html.ValidationMessageFor(m => m.MenBOrder)
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.MenBOrder, "1")<span> 1&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenBOrder, "2")<span> 2&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenBOrder, "3", new { @class = "ThirdOrder" })<span class="ThirdOrder"> 3&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenBOrder, "4", new { @class = "ForthOrder" })<span class="ForthOrder"> 4&nbsp;&nbsp;&nbsp;</span>MenB
                                </div>
                            }
                            <div class="HPVOrder">
                                @Html.ValidationMessageFor(m => m.HPVOrder)
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.HPVOrder, "1")<span> 1&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.HPVOrder, "2")<span> 2&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.HPVOrder, "3", new { @class = "ThirdOrder" })<span class="ThirdOrder"> 3&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.HPVOrder, "4", new { @class = "ForthOrder" })<span class="ForthOrder"> 4&nbsp;&nbsp;&nbsp;</span>HPV
                            </div>
                        </div>
                        <div class="form-group">
                            <b>Did you provide the vaccine recommendation in a bundled format? </b>
                            <br />
                            @Html.ValidationMessageFor(m => m.BundlesRecommended)
                            <div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.BundlesRecommended, "Y")<span> Yes</span>
                                &nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.BundlesRecommended, "N")<span> No</span>
                                &nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.BundlesRecommended, "D")<span> Don't Know</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <b>Did you recommend that the vaccine/all the vaccines be given <u>today</u>? </b>
                        <br />
                        @Html.ValidationMessageFor(m => m.AllShotsRecommended)
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.AllShotsRecommended, "Y")<span> Yes</span>
                            &nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.AllShotsRecommended, "N")<span> No</span>
                            &nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.AllShotsRecommended, "D")<span> Don't Know</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <b>Did the parent/teen ask questions about the recommended vaccine(s)? </b>
                        <br />
                        @Html.ValidationMessageFor(m => m.AskProviderQuestions)
                        <div>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.AskProviderQuestions, "Y")<span> Yes</span>
                            &nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.AskProviderQuestions, "N")<span> No</span>
                            &nbsp;&nbsp;&nbsp;@Html.RadioButtonFor(m => m.AskProviderQuestions, "D")<span> Don't Know</span>
                        </div>
                    </div>
                    <div class="form-group QuestionEffectiveness">
                        <b>How effective were you in answering their questions? </b>
                        <br />
                        @Html.ValidationMessageFor(m => m.QuestionEffectiveness)
                        @foreach (Unity_MVC6.Models.ValueValuePair pair in Model.QuestionEffectivenessList)
                        {
                            <div>
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.QuestionEffectiveness, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                            </div>
                        }
                    </div>
                    <div class="form-group ShotsReceived">
                        <b>Which vaccine(s) did the teen get today?</b> <i>(Check all that apply)</i>
                        <br />
                        <div class="TdapReceived">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.TdapReceived)&nbsp;&nbsp;Tdap
                        </div>
                        <div class="MenACWYReceived">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.MenACWYReceived)&nbsp;&nbsp;MenACWY
                        </div>
                        <div class="MenBReceived">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.MenBReceived)&nbsp;&nbsp;MenB
                        </div>
                        <div class="HPVReceived">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.CheckBoxFor(m => m.HPVReceived)&nbsp;&nbsp;HPV
                        </div>
                    </div>
                    <div class="AllChecked">
                        <div class="form-group ShotsNotReceived">
                            <b>Can you tell us why the vaccine was NOT given to the teen today? </b><i>(Indicate the most important reason)</i>
                            <br />
                            <div class="TdapNotReceived">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.TdapNotReceivedReason)
                                <u>Tdap</u>
                                @foreach (Unity_MVC6.Models.ValueValuePair pair in Model.ShotNotReceivedReasonList)
                                {
                                    <div>
                                        @if (pair.Key == "b")
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.TdapNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                            <br />
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.TdapVaccineNotRecommendedReason) Reason: </span>@Html.TextBoxFor(m => m.TdapVaccineNotRecommendedReason, new { @class = "Width300 TextBoldBlue" })
                                        }
                                        else if (pair.Key == "c")
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.TdapNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                            <br />
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.TdapWorriedAboutSafetyReason) Reason: </span>@Html.TextBoxFor(m => m.TdapWorriedAboutSafetyReason, new { @class = "Width300 TextBoldBlue" })
                                        }
                                        else
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.TdapNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                        }
                                    </div>
                                }
                                <br />
                            </div>
                            <div class="MenACWYNotReceived">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.MenACWYNotReceivedReason)
                                <u>MenACWY</u>
                                @foreach (Unity_MVC6.Models.ValueValuePair pair in Model.ShotNotReceivedReasonList)
                                {
                                    <div>
                                        @if (pair.Key == "b")
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenACWYNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                            <br />
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.MenACWYVaccineNotRecommendedReason) Reason: </span>@Html.TextBoxFor(m => m.MenACWYVaccineNotRecommendedReason, new { @class = "Width300 TextBoldBlue" })
                                        }
                                        else if (pair.Key == "c")
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenACWYNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                            <br />
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.MenACWYWorriedAboutSafetyReason) Reason: </span>@Html.TextBoxFor(m => m.MenACWYWorriedAboutSafetyReason, new { @class = "Width300 TextBoldBlue" })
                                        }
                                        else
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenACWYNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                        }
                                    </div>
                                }
                                <br />
                            </div>
                            <div class="MenBNotReceived">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.MenBNotReceivedReason)
                                <u>MenB</u>
                                @foreach (Unity_MVC6.Models.ValueValuePair pair in Model.ShotNotReceivedReasonList)
                                {
                                    <div>
                                        @if (pair.Key == "b")
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenBNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                            <br />
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.MenBVaccineNotRecommendedReason) Reason: </span>@Html.TextBoxFor(m => m.MenBVaccineNotRecommendedReason, new { @class = "Width300 TextBoldBlue" })
                                        }
                                        else if (pair.Key == "c")
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenBNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                            <br />
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.MenBWorriedAboutSafetyReason) Reason: </span>@Html.TextBoxFor(m => m.MenBWorriedAboutSafetyReason, new { @class = "Width300 TextBoldBlue" })
                                        }
                                        else
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.MenBNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                        }
                                    </div>
                                }
                                <br />
                            </div>
                            <div class="HPVNotReceived">
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.HPVNotReceivedReason)
                                <u>HPV</u>
                                @foreach (Unity_MVC6.Models.ValueValuePair pair in Model.ShotNotReceivedReasonList)
                                {
                                    <div>
                                        @if (pair.Key == "b")
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.HPVNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                            <br />
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.HPVVaccineNotRecommendedReason) Reason: </span>@Html.TextBoxFor(m => m.HPVVaccineNotRecommendedReason, new { @class = "Width300 TextBoldBlue" })
                                        }
                                        else if (pair.Key == "c")
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.HPVNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                            <br />
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Html.ValidationMessageFor(m => m.HPVWorriedAboutSafetyReason) Reason: </span>@Html.TextBoxFor(m => m.HPVWorriedAboutSafetyReason, new { @class = "Width300 TextBoldBlue" })
                                        }
                                        else
                                        {
                                            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.HPVNotReceivedReason, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                        }
                                    </div>
                                }
                                <br />
                            </div>
                            <div class="form-group">
                                <b>Overall, how hesitant to vaccines would you consider the parent to be? </b>
                                <br />
                                @Html.ValidationMessageFor(m => m.OverallHesitation)
                                @foreach (Unity_MVC6.Models.ValueValuePair pair in Model.OverallHesitationList)
                                {
                                    <div>
                                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>@Html.RadioButtonFor(m => m.OverallHesitation, pair.Key) <span>&nbsp;&nbsp;</span>@pair.Value
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" id="btnSubmit" name="Command" value="Submit" class="btn-md btn-default" />
        @Html.HiddenFor(m => m.SurveyCodeId)
        @Html.HiddenFor(m => m.SurveyAgeId)
        @Html.HiddenFor(m => m.SurveyAge)
    }
</section>

<script src="~/Scripts/Page Scripts/DualProvider_Scripts.js"></script>